$defult-font-size: 1.6rem;
$sub-font-size: 2.1rem;
$tiny-size: 2.5rem;
$main-font-size: 2.9rem;
$tertiary-size: 3.3rem;
$small-title: 3.8rem;
$sub-title-size: 5rem;
$title-size: 7.5rem;
$icon-big: 9rem;


// colors
$yellow: #fcc302;
$yellow-dark: #daac00;
$yellow-light: #e9cf6e;
$cyan: #00bec9;
$white: #fff;
$light-white: #d5d5d5;
$dark: #313243;